<!doctype html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- JS -->

    <script src="/jquery.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <script src="/popper.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>


    <link rel="stylesheet"
          href="https://font.solardorf.eu/?url=https://fonts.googleapis.com/css2?family=Noto+Sans+Mono">


    <title>Flatly</title>

    <style>
        body {
            font-family: 'Noto Sans Mono';
            background-color: black;
            color: white;
        }

        blockquote {
            background-color: grey;
            padding: 10px;
            font-style: italic;
        }

        #content {
            margin-top: 2%;
        }

        a {
            text-decoration: none;
        }

        .link-white {
            color: white;
        }
    </style>

</head>
<body>

<div id="root">


    {% include 'nav.html.twig' %}

    <div class="container" id="content">
        <div class="row justify-content-start">
            <div class="col-lg">

                {% if site_type|default("") == "blog_list" %}
                    {% include 'blog_list.html.twig' %}
                {% elseif site_type|default("") == "blog_post" %}
                    {% include 'blog_post.html.twig' %}
                {% else %}
                    {{ body | raw }}
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-start" style="border-top: 1px solid white; margin-top: 1%;">

            <div class="col-lg">
                <div id="footer"><a href="{{ footer.imprint }}" target="_blank" class="link-white">Impressum</a> &bull;
                    <a href="{{ footer.privacy }}" class="link-white" target="_blank">Datenschutz</a> &bull; powered by
                    <a href="https://github.com/gruessung/flatly" target="_blank">flatly</a></div>
            </div>
        </div>


    </div>
</div>

</body>
</html>
