<!doctype html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/bootstrap.css" rel="stylesheet">

    <!-- JS -->

    <script src="/jquery.js"></script>

    <script src="/popper.js"></script>
    <script src="/bootstrap.js"></script>


    <link rel="stylesheet"
          href="https://font.solardorf.eu/?url=https://fonts.googleapis.com/css2?family=Noto+Sans+Mono">


    <title>{{ config.title }}</title>

    <style>
        body {
            font-family: 'Noto Sans Mono';
            background-color: black;
            color: white;
        }

        blockquote {
            background-color: grey;
            padding: 10px;
            font-style: italic;
        }

        #content {
            margin-top: 2%;
        }

        a {
            text-decoration: none;
        }

        .link-white {
            color: white;
        }

        blockquote {
            background: darkslategrey;
            color: black;
            border-left: 10px solid #ccc;
            margin: 1.5em 10px;
            padding: 0.5em 10px;
            quotes: "\201C""\201D""\2018""\2019";
        }
        blockquote:before {
            color: #ccc;
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        }
        blockquote p {
            display: inline;
        }
    </style>

</head>
<body>

<div id="root">


    {% include 'nav.html.twig' %}

    <div class="container" id="content">
        <div class="row justify-content-start">
            <div class="col-lg">

                {% if site_type|default("") == "blog_list" %}
                    {% include 'blog_list.html.twig' %}
                {% elseif site_type|default("") == "blog_post" %}
                    {% include 'blog_post.html.twig' %}
                {% else %}
                    {{ body | raw }}
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-start" style="border-top: 1px solid white; margin-top: 1%;">

            <div class="col-lg">
                <div id="footer"><a href="{{ config.imprint }}" target="_blank" class="link-white">Impressum</a> &bull;
                    <a href="{{ config.privacy }}" class="link-white" target="_blank">Datenschutz</a> &bull; powered by
                    <a href="https://github.com/gruessung/flatly" target="_blank">flatly</a></div>
            </div>
        </div>


    </div>
</div>

</body>
</html>
